@import url(https://fonts.googleapis.com/css?family=Nunito);.eye-catch-section {
  width: 100%;
  padding: 150px 0;
  text-align: center;
}

.eye-catch-section .eye-catch-title {
  font-size: 2.5rem;
}

.eye-catch-section .eye-catch-desc {
  font-size: 1rem;
}

.out-section {
  width: 700px;
  margin: 0 auto;
}

.out-section .out-title {
  text-align: center;
}

.out-section .out-item {
  padding: 20px;
}

html {
  font-size: 100%;
  /* 16px */
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

