@import url(https://fonts.googleapis.com/css?family=Nunito);.eye-catch-section {
  width: 100%;
  padding: 150px 0;
  text-align: center;
}

.eye-catch-section .eye-catch-title {
  font-size: 4rem;
}

.eye-catch-section .eye-catch-desc {
  font-size: 1.5rem;
}

.out-section {
  width: calc(100% - 100px);
  margin: 0 auto;
}

.out-section .out-title {
  text-align: center;
}

.out-section .out-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.out-section .out-item-container .out-item {
  margin: 20px;
  width: calc(100% / 2 - 40px);
}

.out-section .out-item-container .out-item img {
  float: left;
  witdh: 150px;
}

.out-section .out-item-container .out-item .out-item-desc {
  float: left;
  height: 200px;
  margin-left: 10px;
  width: calc(100% - (150px + 10px));
}

.out-section .out-item-container .out-item .out-item-btn {
  float: right;
  margin-right: 10px;
}

.login-container {
  float: right;
  margin: 20px 20px 0 0;
}

.login-container .logged-in-user .logged-in-icon {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.login-container .logged-in-user .logged-in-name {
  float: left;
  padding-left: 10px;
}

html {
  font-size: 22px;
}

html h1 {
  font-size: 3rem;
}

html h2 {
  font-size: 2.5rem;
}

html h3 {
  font-size: 2rem;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

