.eye-catch-section {
  width: 100%;
  padding: 150px 0;
  text-align: center;

  .eye-catch-title {
    font-size: 2.5rem;
  }

  .eye-catch-desc {
    font-size: 1rem;
  }
}

.out-section {
  width: calc(100% - 100px);
  margin: 0 auto;


  .out-title {
    text-align: center;
  }

  .out-item-container {
    display: flex;
    flex-flow: row wrap;

    .out-item {
      padding: 40px 40px 0 0 ;
      width: calc(100% / 2 - 40px);

      img {
        // MEMO FlexBoxの中でのFloat
        float: left;
        width: 150px;
      }

      .out-item-desc {
        float: left;
        height: 200px;
        margin-left: 10px;
        width: calc(100% - (150px + 10px));
      }

      .out-item-btn {
      }
    }
  }
}
